@import url(https://fonts.googleapis.com/css?family=Overpass:400,400i,600,600i,700,700i,800,800i,900,900i&display=swap);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -webkit-text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
  position: relative;
  min-height: 100%;
  font-size: 100%;
}

body {
  background: #ffffff;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Overpass", Arial, Helvetica, sans-serif;
  color: #25333C;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

.container {
  width: 100%;
  height: auto;
  max-width: 1440px;
  padding: 24px;
  margin: auto;
}

.image-responsive {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

.firstFold {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.firstFold section {
  max-width: 960px;
  width: 100%;
}

.firstFold aside {
  max-width: 320px;
  height: 240px;
  width: 100%;
}

.svg-icon {
  width: 25px;
  height: auto;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  font-family: "Overpass", Arial, Helvetica, sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 0;
  display: inline-block;
  background: transparent;
  color: inherit;
}

button:focus {
  outline: none;
}

.btn-primary, .btn-secondary {
  cursor: pointer;
  font-family: "Overpass", Arial, Helvetica, sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 0;
  display: inline-block;
  background: transparent;
  font-size: 16px;
  padding: 8px 16px;
  height: auto;
  line-height: 30px;
}

.btn-primary:focus, .btn-secondary:focus {
  outline: none;
}

.btn-primary {
  background: #7DC142;
  color: #EDF0F1;
}

.btn-primary:hover {
  color: #ffffff;
  background: #67a333;
}

.btn-secondary {
  background: #0E8543;
  color: #EDF0F1;
}

.btn-secondary:hover {
  color: #ffffff;
  background: #086130;
}

.rounded {
  border-radius: 50px;
}

.m-24 {
  margin: 24px;
}

.companyBanner {
  overflow: hidden;
}

.companyBanner .companyBannerContent {
  max-width: 960px;
  min-height: 240px;
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.companyBanner .companyBannerContent:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.companyName {
  font-size: 34px;
  color: #ffffff;
  text-align: center;
  min-height: 75%;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.verifiedTag {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.social-links ul {
  margin: 24px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-links ul li {
  margin-right: 24px;
  -webkit-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.social-links ul li:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in;
}

.companyProduct {
  max-width: 320px;
  height: 240px;
  width: 100%;
  overflow: hidden;
}

.companyProduct img {
  min-height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
}

.spacer {
  height: 300px;
}

footer {
  position: absolute;
  bottom: 0;
}

.uploadImageSection {
  min-height: 250px;
}

.uploader {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.uploader a, .uploader span, .uploader input {
  cursor: pointer;
}

.chooseFile {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  padding-left: 200px;
  height: 50px;
}

#thumbnail {
  width: 25%;
  margin-top: 10px;
  cursor: pointer;
  height: auto;
}

.outer {
  position: relative;
  margin-bottom: 30px;
}

.outer:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}

.outer > .inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.outer > .inner img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.cardsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.eachCard {
  max-width: 300px;
  margin: 1%;
  width: 100%;
}
