@import url(https://fonts.googleapis.com/css?family=Overpass:400,400i,600,600i,700,700i,800,800i,900,900i&display=swap);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -webkit-text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}


$primary: #7DC142;
$primary-dark: #67a333;
$secondary: #0E8543;
$secondary-dark: #086130;
$danger: #DE4F60;
$warning: #FF6C00;
$white: #ffffff;
$grey: #CDCDCD;
$light: #EDF0F1;
$dark: #25333C;
$overpass: "Overpass",
Arial,
Helvetica,
sans-serif;

html {
    scroll-behavior: smooth;
    position: relative;
    min-height: 100%;
    font-size: 100%;
}


body {
    background: #ffffff;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: $overpass;
    color: $dark;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        color: inherit;
    }
}


.container {
    width: 100%;
    height: auto;
    max-width: 1440px;
    padding: 24px;
    margin: auto;
}

.image-responsive {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}


.firstFold {
    display: flex;
    justify-content: center;
    align-items: center;

    section {
        max-width: 960px;
        width: 100%;
    }

    aside {
        max-width: 320px;
        height: 240px;
        width: 100%;

    }



}

.svg-icon {
    width: 25px;
    height: auto;
}

ul {
    list-style: none;
}



button {
    cursor: pointer;
    font-family: "Overpass", Arial, Helvetica, sans-serif;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border: 0;
    display: inline-block;
    background: transparent;
    color: inherit;
  }
  
  button:focus {
    outline: none;
  }
  
  .btn-primary, .btn-secondary {
    cursor: pointer;
    font-family: "Overpass", Arial, Helvetica, sans-serif;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border: 0;
    display: inline-block;
    background: transparent;
    font-size: 16px;
    padding: 8px 16px;
    height: auto;
    line-height: 30px;
  }
  
  .btn-primary:focus, .btn-secondary:focus {
    outline: none;
  }
  
  .btn-primary {
    background: #7DC142;
    color: #EDF0F1;
  }
  
  .btn-primary:hover {
    color: #ffffff;
    background: #67a333;
  }
  
  .btn-secondary {
    background: #0E8543;
    color: #EDF0F1;
  }
  
  .btn-secondary:hover {
    color: #ffffff;
    background: #086130;
  }
  
  .rounded {
    border-radius: 50px;
  }

  
.m-24 {
    margin: 24px;
}

.companyBanner {
    overflow: hidden;

    .companyBannerContent {
        // border: 1px solid #000;
        max-width: 960px;
        min-height: 240px;
        padding: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-in-out;

        &:hover {
            transition: all 0.3s ease-in-out;
            transform: scale(1.02);


        }

    }
}



.companyName {
 font-size: 34px;
    color: $white;
    text-align: center;
    min-height: 75%;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.verifiedTag {
    color: $white;
     display: flex;
    align-items: center;
    font-weight: 700;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.25);

}


.social-links {
    ul {
        margin: 24px 0 0;
        display: flex;

        li {
            margin-right: 24px;
            transition: 0.3s all ease-in;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.25);


            &:hover {
                transform: translateY(-5px);
                transition: 0.3s all ease-in;
            }
        }
    }
}


.companyProduct {
    max-width: 320px;
    height: 240px;
    width: 100%;
    overflow: hidden;

    img {
        min-height: 240px;
        object-fit: cover;
    }
}


.spacer {
  height: 300px;
}

footer {
    position: absolute;
    bottom: 0;
}


.uploadImageSection {
    min-height: 250px;
}
 
.uploader {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: inline-block;

    a , span, input  {
        cursor: pointer;
    }
  }
  
  .chooseFile {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    padding-left: 200px;
    // margin-right: -200px;
    height: 50px;
  }
  
  #thumbnail {
    width: 25%;
    margin-top: 10px;
    cursor: pointer;
    height: auto;
  }
  

  
// code for aspect ratio

.outer {
    position: relative;
    margin-bottom: 30px;
    &:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: (9 / 16) * 100%;
    }
    > .inner {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: #eee;
  
      // border: 1px solid;
  
      img {
        width: 100%;
        height: 100%;
        // object-fit: contain;
        object-fit: cover;
      }
    }
  }



  // cards 

  .cardsContainer {
    display: flex;
    flex-wrap: wrap;
 

  }
  .eachCard {
    max-width: 300px;
    margin: 1%;
    width: 100%;
  }

